body {font-family: 'Josefin Sans', "Lato", sans-serif;}

:root{
  --sage:rgb(206, 208, 151);
  --deeptaupe: rgb(122, 98, 99);
  --middleblue: rgb(126, 189, 195);
  --teagreen: rgb(198, 222, 166);
  --nyanza: rgb(223, 242, 216);

}

.profileIcon{
  border-radius: 50%;
  max-width: 200px;
  border: 5px solid var(--nyanza);
}
.profileIconDiv{
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--deeptaupe);
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--nyanza);
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 15rem; /* Same as the width of the sidenav */
  padding: 0px 0px;
  /* background-color: var(--nyanza); */
}

/*---------------------------header--------------------------*/
header{
  background: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header h1{
  font-size: 6rem;
  color: var(--middleblue);
  padding: 4rem;
  text-shadow: 2px 2px 6px #4d4d4d, -2px 2px 6px #4d4d4d;
}

/*--------------------------carosel--------------------------*/


img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: auto;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 13px;
  border-radius: 3px 0px 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.col-sm-8 h2{
  padding-top: 2rem;
  text-indent: 1rem;
  color: var(--deeptaupe);

}
p{
  text-indent: 3rem;
}

/*-------------------------Line--------------------------*/
div.line1 p{
  width:100%;
  margin:40px 0px;
  border-top:5px outset var(--teagreen);
  clear:both;
}


/*--------------------------military experience / hobbies / my family --------------------------*/
.row{
    padding: 15px 20px;
}
.smallercol{
  width: 20%;
  padding: 0px;
  margin: auto;
}
.biggercol{
  width: 75%;
  padding: 0px;
}
img.image{
  margin: auto;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--teagreen);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*-------------------------- footer --------------------------*/

footer {
  background-color: var(--teagreen);
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--deeptaupe);
  text-align: center;
}
footer p {
    margin: 0;
}
footer p a{
  color: var(--deeptaupe)
}
footer p a:hover{
  color: var(--middleblue);
  text-decoration: none;
}
